numpy==2.5.3
soundfile==0.14.0
fastapi==0.142.1
uvicorn[standard]==0.54.0
huggingface_hub
loguru
transformers==5.17.0
wyoming_openai==0.6.1
misaki[de] @ git+https://github.com/semidark/misaki.git@9cda9268309160120fffee216280a9ca83ac4644
